.img-thumbnail {
    width: 80%;
    height: 80%;
    background-color: rgb(10, 39, 65);
    border: 5px;
    transition: all 300ms;
  }

.img-thumbnail:hover{

  transform: scale(1.15);

}

hr{

  height: 5px;
  background: rgb(31, 44, 68);

}

#TITULO{

  color: white;

}

body{

  background: rgb(50, 82, 137);

}

h3{

  color: white;
  
}

footer{

  background: rgb(31, 44, 68);

  padding: 20px;

}